.sized-table {
    margin: auto;
    width: auto;
    height: auto;
}

.cell {
    text-align: center;
}

.closed-cell { 
    background: #dce6e6; 
}

.cell0 { 
    background: white; 
}
.cell1 { 
    background: #ffff66; 
}
.cell2 { 
    background: #ffd800;
}
.cell3 { 
    background: #ffba00;
}
.cell4 { 
    background: #ffa000; 
}
.cell5 { 
    background: #ff6a00;
}
.cell6 { 
    background: #FF4500; 
}
.cell7 { 
    background: #DC143C; 
}
.cell8 { 
    background: red; 
}
.cellB { 
    background: red; 
}

.flagged { 
    background: #a7fc00; 
}

.result-text {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 30%;
    text-align: center;
}

.icon {
    width: 90%;
    height: 90%;
}


.counterFlag {
    position: relative;
    left: 40%;
}

.iconFlag {
    width: 50px;
    height: 50px;

}

.counterFlag  p{
    font-size: 25px;
    margin: 0 0 0 70px;
    float: left;
}

.form-block {
    min-width: 350px;
    margin: auto;
}
